*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #6a0834;
    --color-secundary: #d98106;
    --color-primary-light: #990b41;
    --color-bg: #F8FAFC;
    --color-text: #1E293B;
    --color-muted: #64748B;
    --color-white: #FFFFFF;
    --color-border: #E2E8F0;
    --font-main: Arial, Helvetica, sans-serif;
    --font-heading: Georgia, 'Times New Roman', serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: var(--color-primary);
    color: white;
}

/* LOGO */

.logo-contenedor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    background: orange;
    padding: 6px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}

.nombre {
    font-weight: bold;
    font-size: 20px;
}

/* NAVEGACION */
nav a {
    display: inline-block;
    color: var(--color-white);
    text-decoration: none;
    margin: 0 14px;
    padding: 6px 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* main con DEGRADADO */
.principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.6;
    padding: 100px 100px;
    color: var(--color-white);
    background: linear-gradient(to right, var(--color-primary), var(--color-primary-light)); /* DEGRADADO (oscuro → claro) */
}

/* TEXTO */
body {
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-bg);
}

.texto {
    max-width: 500px;
}

.texto span {
    color: orange;
}

.texto h3 {
    font-weight: normal;
    color: #cbd5e1;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* IMAGEN */
.imagen img {
    width: 280px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
}


